app-guest-search {
  flex: 1;

  .guest-search {
    display: flex;
    justify-content: space-between;

    &__buttons {
      display: flex;
      align-items: center;
      justify-content: center;

      .button {
        margin: 5px;
        padding: 5px 25px;
      }
    }
    
    &__form {
      flex: 1;
    }
  }
}

