<div class="guest-list">
  <h4 class="guest-list__header">
    Guest comments list:
  </h4>
  <ul *ngIf="comments.length"
      class="guest-list__list">
    <li *ngFor="let comment of comments"
        class="guest-list__item">
        <div class="guest-list__item-header">
          <h6 class="guest-list__item-name">
            {{ comment.firstName }} {{ comment.lastName }}
          </h6>
          <h6 class="guest-list__item-email">
            {{ comment.email }}
          </h6>
        </div>
        <div class="guest-list__item-body">
          {{ comment.commentText }}
        </div>
    </li>
  </ul>
</div>